<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie miejsca</title>
</head>
<body>
<form method="POST">
  <label for="type">Rodzaj miejsca:</label><br>
  <input type="text" id=type" name="type">
  <br>
  <label for="name">Nazwa:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="district">Dzielnica:</label><br>
  <input type="text" id="district" name="district"><br>
  <label for="address">Adres:</label><br>
  <input type="text" id="address" name="address"><br>
  <label for="cuisine">Rodzaj kuchni:</label><br>
  <select name="cuisine" id="cuisine">
   {% for foods in food %}
            <option value="{{ food.id }}">{{ food.cuisine }}</option>
        {% endfor %}
</select><br>
  <label for="sport">Rodzaj sportowego obiektu:</label><br>
  <select name="sport" id="sport">
  {% for sports in sport %}
            <option value="{{ sport.id }}">{{ sport.kind }}</option>
        {% endfor %}
</select><br><br>
  <button type="submit">Dodaj</button>
</form>
</body>
</html>