<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <label for="district">Wybierz dzielnicę:</label>
<select name="district" id="district">
  <option value="wybor"> </option>
  <option value="wola">Wola</option>
  <option value="ursus">Ursus</option>
  <option value="bielany">Bielany</option>
  <option value="srodmiescie">Śródmieście</option>
</select>
<label for="place">Rodzaj miejsca:</label>
<select name="place" id="place">
  <option value="0"> </option>
  <option value="1">Kino</option>
  <option value="2">Teatr</option>
  <option value="3">Restauracja</option>
  <option value="4">Pub</option>
  <option value="5">Sport</option>
</select><br>
 <label for="cuisine">Rodzaj kuchni:</label><br>
  <select name="cuisine" id="cuisine">
  <option value="0"> </option>
  <option value="1">Włoska</option>
  <option value="2">Kebab</option>
  <option value="3">Sushi</option>
  <option value="4">Chińska</option>
  <option value="5">Burger</option>
</select><br>
   <label for="sport">Rodzaj sportowego obiektu:</label><br>
  <select name="sport" id="sport">
  <option value="0"> </option>
  <option value="1">Basen</option>
  <option value="2">Siłownia</option>
  <option value="3">Studio fitenss</option>
  <option value="4">Kort</option>
</select><br><br>
 <a href='/form'>
        <button class="button">
            Dodaj miejsce
        </button>
    </a>
<button class=""

</body>
</html>