<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="GET">
 <label for="district">Wybierz dzielnicę:</label>
<select name="district" id="district">

        {% for districts in district %}
            <option value="{{ district.id }}">{{ district.name }}</option>
        {% endfor %}

</select></form>
<form method="GET">
<label for="place">Rodzaj miejsca:</label>
<select name="place" id="place">

{% for types in type %}
            <option value="{{ type.id }}">{{ type.cat }}</option>
        {% endfor %}

</select></form>
<br>
<form method="GET">
    <label for="cuisine">Rodzaj kuchni:</label><br>
  <select name="cuisine" id="cuisine">
  {% for foods in food %}
            <option value="{{ food.id }}">{{ food.cuisine }}</option>
        {% endfor %}

</select></form>

<br>
<form method="GET">
    <label for="sport">Rodzaj sportowego obiektu:</label><br>
  <select name="sport" id="sport">
  {% for sports in sport %}
            <option value="{{ sport.id }}">{{ sport.kind }}</option>
        {% endfor %}



</select></form><br><br>
 <a href='/login'>
        <button class="button">
            Zaloguj
        </button>
    </a><br><br>
<a href='/data'>
        <button type="submit">
            Wyszukaj
        </button>

</body>
</html>